/* 
♬ ♭ ♮ ♩ ♪ ♫

"My bad habits lead to late nights endin' alone
Conversations with a stranger I barely know
Swearin' this'll be the last, but it probably won't
I got nothin' left to lose, or use, or do.........."
          
		  ©®™ ed sheeran ™®©
		  
♬ ♭ ♮ ♩ ♪ ♫
*/

body {
     display:grid;
     width: 100%;
     height: 100%;
     margin: 0;
     overflow: hidden;
	 color: #fff;
     background-image: url("../images/background.jpg");
}
/* defines width of matrix background */
canvas {
      display: grid;
		  width: 75vw;
		  height: 100vh;
		  
      }
/* page container */
.wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 25vw 50vw 25vw;
  grid-template-rows: repeat(4, 25vh);
  min-height: 100vh;
  min-width: 100vw;
  padding: 2px;
}
/* Its now a video/mp4 was an image */
#banner {
  padding:2px;
  position: fixed;
  left: 0;
  top: 0;
  width: 75vw;
  height: 25vh;
  border-radius: 8px;
  
}  
/*position audio player */ 

.music {
  display: inline-block;
  position: absolute;
  left: 1vw;
  bottom: 0vh;
}
/* audio buttons */
#audioButton1 {
background-image: url("../assets/buttons/play.png");
background-size: 100%;

background-repeat: no-repeat;
border-radius: 50%;
opacity:60%;
width:2.5vw;
height:2.5vw;	
}
#audioButton2 {
background-image: url("../assets/buttons/pause.png");	
background-size: 100%;

background-repeat: no-repeat;
border-radius: 50%;
opacity:60%;
width:2.5vw;
height:2.5vw;	
}
/* ANIMATION */
@keyframes flicker {
  from {
    text-shadow: 0 0 5px #00dcff, 0 0 10px #00dcff, 0 0 15px #00dcff,
      0 0 20px #00dcff;
  }
  to {
    text-shadow: 0 0 5px #09889c, 0 0 10px #09889c, 0 0 15px #09889c,
      0 0 20px #09889c;
  }
}

/* ATTACH ANIMATION */
.flickmain{
  font-size: 3vw;
  animation: flicker 1s ease-in-out infinite alternate;
 text-align: center;
}

.flickside {
  font-size: 2vw;
  color: white;
  animation: flicker 1s ease-in-out infinite alternate;
  text-align: center;
}
.flickfooter {
  font-size: 1vw;
  animation: flicker 1s ease-in-out infinite alternate;
  text-align: center;
  
}
  

.intro {
 display: grid ;	
 grid-column-start: 1;
 grid-column-end: 2;
 grid-row: 2 / 2;
 color: white;
 font-family: Lucida;
  width: 74vw;
  height: 43vh;
 
 
  	
}
.article {
  display : grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 3 / 4;
  width: 74vw;
  height: 43vh;
  border-radius: 8px;
  background-image:url("../images/text.jpg");
  background-size: cover;
  opacity: 100%;
}
h3,h4 {
	text-align: center;
}
#mainText {
	padding: 10px;
	font-size: 3vh;
    animation: flicker 1s ease-in-out infinite alternate;
    text-align: left;
	font-family: Lucida;
	color: white;
	overflow-y:scroll;
	height:41vh;

	
}
	
#testimonials {
  display:grid;
  margin:auto;
  border-radius: 8px;
  align-items: center;
  width: 23vw;
  height: 15vh;
  background-color: whitesmoke;
  
}
#Main1 {
	display: grid;
	position: fixed;
	width:73%;
    top: 43vh;
	left: 50vw;
    transform: translate(-50vw, -50%);	
}

#nav {
  float: none;
  position: fixed;
  width: 70%;
  top: 30vh;
  left: 50vw;
  transform: translate(-40vw, -2vh);
  
}
#nav li {
  display: inline-block;
  text-align: center;
  border-radius: 2vw 2vh;
  padding: 1vw 1vw;
  width: 15%;
  background-image: linear-gradient(to bottom , red, rgb(27, 2, 27));
  color: white;
  border: solid 1px whitesmoke;
}
#nav li a {
  font-size: 1vw;
  text-decoration: none;
  color: whitesmoke;
}
#nav li:hover {
  background-image: linear-gradient(to top , red, blue);
}
#nav li.active {
  background-image: linear-gradient(to top, red, rgb(90, 14, 90));
}
#nav label,
#hamburger { 
 display: none; 
 }
/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  
#navitems   {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    border-top: 1px solid #333;
}
 
  /* HAMBURGER ICON */
#nav label { 
    
    display: grid; 
	position: fixed;
	top: -5vh;
	left: -8vw;
    color: white;
    background-image: linear-gradient(to bottom, red, blue);
    font-style: normal;
    font-size: 1.2em;
    padding: 12px;
	border-radius: 50%;
  }
/* TOGGLE SHOW/HIDE MENU */
#navitems { 
display: none; 
}
#nav input:checked ~ 
#navitems { 
display: block; 
}
}

.side1 {
  padding: 2px;
  display : grid;
  grid-column: 3 / 3;
  grid-row: 1 / 2;
  opacity: 85%;
  border-radius: 8px;
  background-image: url("../images/gcc.png");
  background-size: 98%;
  background-position: center;
  background-repeat: no-repeat;
 
  
}
#Gcc {
  background-image: url("../images/gcc.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;	
}
.side2 {
  display:grid;
  grid-column: 3 / 3;
  grid-row: 2 ;
  border-radius: 8px;
  
  
}
#contactform {
	
  padding: 2px;
  width: 25vw;
  height: 25vh;
  border-radius: 8px;
  background-image: url("../images/text.jpg");
  cursor: pointer;
}
#subject {
	 height:45vh;
	 
}
#button {
	display :grid;
	position: fixed;
	height: 4vh;
	width: 4vw;
	top: 45vh;
	right: 1vw;
	border-radius: 8px;
}   
#reset {
	display :grid;
	position: fixed;
	height: 4vh;
	width: 4vw;
	top: 40vh;
	right: 1vw;
	border-radius: 8px;
}   

#fname { 

background-color:whitesmoke;
width: 98%;
}
#email { 

background-color:whitesmoke;
width: 98%;
}
input[type=text], select  {
  color: purple;
  background-color: whitesmoke;
  width: 98%; /* Full width */
  padding: 1vh; /* Some padding */ 
  border: 1px solid purple; /* Purple border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 2px; /* Add a top margin */
  margin-left: 2px; /* Add a left margin */
  margin-bottom: 2px; /* Bottom margin */
  
}
input[type=text], textarea {
  background-color: whitesmoke;
  color: purple;
  width: 75%; /* Full width */
  padding: 1vh; /* Some padding */ 
  border: 1px solid purple; /* Purple border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 2px; /* Add a top margin */
  margin-left: 2px; /* Add a left margin */
  margin-bottom: 2px; /* Bottom margin */
  
}

input[type=submit] {
  background-image: linear-gradient(to bottom right, red, purple);
  color: whitesmoke;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  
}
input[type=submit]:hover {
  background-image: linear-gradient(to bottom, red, blue);
}
input[type=reset] {
  background-image: linear-gradient(to bottom right, red, purple);
  color: whitesmoke;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  
}
input[type=reset]:hover {
  background-image: linear-gradient(to bottom, red, blue);
}
.savedmessage {

width : 50vw;
height: 50vh;

}

.side3 {
  display: grid;
  align-items: center;
  grid-column: 3 / 3;
  grid-row: 3 ;
  background-image: url("../images/text.jpg");
  background-size: 98%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  color: whitesmoke;
  display: grid;
  align-items: center;
}

.side4  {
  display: grid;
  grid-column: 3 / 3;
  grid-row: 4 ;
  
  
  
}
#Mirc {
  background-image: url("../images/mirc.png");
  background-size: 98%;
  background-position: center;
  background-repeat: no-repeat;	
  border-radius: 8px;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 46vw;
  width: 100%;
  font-size: 20px;
  color: white;
  opacity: 75%;
  
}
